
@{
    ViewData["Title"] = "CompleteSpeakerAwards";
}
<br />
<br />
<h1>Thank you for submitting the speaker awards</h1>
<br />
<br />
<p>Click below to return to the tournament portal</p>
<br />
<p>
    <a asp-controller="TournamentDirectors" asp-action="TournamentPortal" style="color:#087485">Return to Portal</a>
</p>

