@model db8abase.Models.Debater

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDebater.cshtml";
}

    <h1 style="text-align:center; text-decoration:underline">Welcome @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>


