@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome To Db8abase!</h1>
    <br />
    <br /> 
    <h3 style="text-align:center">Use the navigation bar to go to your desired location</h3>
</div>
