
@{
    ViewData["Title"] = "RegistrationConfirmation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationConfirmation</title>
</head>
<body>
    <br />
    <br />
    <h3>Thanks for registering.  Please check your email for confirmation.</h3>
    <h3>After confirmation, log in and be sure to update your account information.</h3>
</body>
</html>
