@model db8abase.Models.Tournament
@{
    ViewData["Title"] = "SendRoundOnePairing";
}

<br />
<br />
<p>Pairings and ballots have been sent for round one of the @Model.Name</p>
<p>Click back home to return to the Tournament portal</p>

<p>
    <a asp-controller="TournamentDirectors" asp-action="TournamentPortal">Tournament Portal</a>
</p>

