@model db8abase.Models.ViewModels.CoachesEnterTeamsViewModel

@{
    ViewData["Title"] = "EnterTeams";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterTeams</title>
</head>
<body>
    <br />
    <h1 style="text-align:center; text-decoration:underline">Enter Team For Tournament</h1>
    <br />
    <form asp-controller="Coaches" asp-action="EnterTeams" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.TeamEntry.TournamentId" />
        <input type="hidden" asp-for="@Model.TeamEntry.IndividualTeamId" />
        <input type="hidden" asp-for="@Model.TeamEntry.EntryId" />
        <div class="form-group">
            <select asp-for="Team" asp-items="Model.Teams"></select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Enter" class="btn btn-primary" />
        </div>

    </form>
</body>
</html>
