@model db8abase.Models.ViewModels.CoachesEnterTeamsViewModel

@{
    ViewData["Title"] = "EnterTeams";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterTeams</title>
</head>
<body>
    <br />
    <h1 style="text-align:center; text-decoration:underline">Enter Team For @Model.Tournament.Name</h1>
    <br />
    <form asp-controller="Coaches" asp-action="EnterTeams">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select asp-for="Debaters" asp-items="@Model.Debaters"></select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select asp-for="Debaters" asp-items="@Model.Debaters"></select>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Enter" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>
