@model db8abase.Models.Coach

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCoach.cshtml";
}

<h1 style="text-align:center; text-decoration:underline">Welcome @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

