@model db8abase.Models.Coach

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<h1 style="text-align:center; text-decoration:underline">Welcome @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <h3 style="text-align:center;text-decoration:underline">Team Management</h3>
        <br />
        <p style="text-align:center">
            <a asp-area="" asp-controller="Coaches" asp-action="ManageTeam" style="color:#087485">Manage Team</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3 style="text-align:center;text-decoration:underline">Tournaments</h3>
        <br />
        <p style="text-align:center">
            <a asp-area="" asp-controller="Coaches" asp-action="TournamentManagement" style="color:#087485">Tournament Listing</a>
        </p>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <h3 style="text-align:center;text-decoration:underline">Results</h3>
        <br />
        <p style="text-align:center">
            <a asp-area="" asp-controller="Coaches" asp-action="ManageTeam" style="color:#087485">View Results</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3 style="text-align:center;text-decoration:underline">Data</h3>
        <br />
        <p style="text-align:center">
            <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#087485">View Data</a>
        </p>
    </div>
</div>
