@model db8abase.Models.ViewModels.CoachesViewReportsViewModel
@{
    ViewData["Title"] = "PickTeams";
}
<br />
<br />
<h3 style="text-align:center; text-decoration:underline">Choose the teams you would like to view</h3>
<br />
<br />
<form asp-controller="Coaches" asp-action="ViewRecords" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <select asp-for="TeamA" asp-items="Model.FirstTeamList" class="custom-select">
                    <option selected="">Choose Team Here</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <select asp-for="TeamB" asp-items="Model.SecondTeamList" class="custom-select">
                    <option selected="">Choose Team Here</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <p>Choose which graph to display</p>
            <div class="form-group">
                <select asp-for="GraphNumber" asp-items="Model.Graphs" class="custom-select">
                    <option selected="">Choose Graphs Here</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-success" />
            </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2"></div>
    </div>
</form>


